/*------------ANIMATIONS-------------*/
@keyframes rotateH1{
    0%{
        transform:rotate(0);
        transform-origin:bottom
    }
    100%{
        transform:rotate(360deg);
        transform-origin:bottom
    }
}

@keyframes btn_userName {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes enter-box-chat {
    from{
        transform: translate(-50px);
    }
    to{
        transform: translate(0);
    }
}

@keyframes showChat {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}

/*PRÉ-SETS*/
body{
    background-color: #030202;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*------------FIRST PAGE-------------*/

.first-page{
    display: flex;
    background: linear-gradient(108deg, #244BAF 21.14%, #4E54D1 93.72%);
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.first-page h1{
    font-size: 70px;
    font-family: Oleo Script;
    color: #FFF;
    animation: rotateH1 1s;
}

.first-page h2{
    color: rgba(255, 255, 255, 0.51);
    font-style: italic;
    font-weight: 700;
    font-family: Open Sans;
    font-size: 20px;
    position: fixed;
    bottom: .5rem;
}

/*------------INPUT-SETUSERNAME-------------*/

/*------------FIRST-PAGE INPUTS-------------*/

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputs #openChat{
    border: 2px solid #68D5F8;
    width: 18rem;
    height: 3rem;
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
    color: #68D5F8;
    cursor: pointer;
    font-family: Open Sans;
    font-weight: 700;
    font-size: .87rem;   
    transition: .5s;
}

.inputs #openChat:hover{
    border: 2px solid #00e1ff;
    transform: scale(1.05);
    transition: .3s;
}

#userName{
    background: #FFF;
    border-radius: 50px;
    width: 18rem;
    height: 3rem;
    border: none;
    outline: none;
    text-align: center;
    color: rgba(40, 40, 40, 0.51);
    font-weight: 800;
    animation: btn_userName 4s;
}

/*------------SECOND PAGE-------------*/

#chat{
    height: 100vh;
    background: linear-gradient(122deg, #244BAF 0%, #4E54D1 69.38%);
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
    position: absolute;
    overflow: hidden;
}

.chat-box{
    background-position: center;
    border-radius: 10px;
    width: 60%;
    height: 80%;
    box-shadow: 0px 0px 50px 10px rgba(2, 73, 252, 0.567);
    display: flex;
    justify-content: center;
    position: relative;
    padding: .5rem 0 0 .5rem;
    animation: showChat 1s;
    background: rgba(104, 213, 248, 0.73);
    border: 2px solid #000;
}

@media screen and (max-width: 500px){
    .chat-box{
        width: 90%;
        height: 80%;
    }

    #form-type-messages{
        
        margin-bottom: 1rem;
    }
}

/*------------FORM OF TYPE MESSAGE-------------*/

#form-type-messages{
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

/*------------FORM'S TYPE MESSAGE INPUT-------------*/

#form-type-messages input{
    width: 90%;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    background: #D9D9D9;
    outline: none;
    padding-left: 1rem;
}

@media screen and (max-width: 700px){
    #form-type-messages input{
        width: 70%;
    }
}

#form-type-messages input::placeholder{
    color: #706E6E;
    font-size: .8rem;
    font-weight: 400;
}

/*------------FORM'S BUTTON-------------*/

#btn-send{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

#btn-send img{
    width: 15px;
    height: 15px;
}

/*------------DIV WHO'LL GET THE MESSAGES-------------*/

.messages{
    color: #030202;
    font-weight: 500;
    font-size: 14px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    border-radius: 10px;
    margin-bottom: .5rem;
    padding: .2rem;
    width: 100%;
    height: 90%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0);

}

/*------------P WITH THE MESSAGE TYPPED-------------*/

#div-message-typped{
    background-color: #ffffffbb;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    min-width: 8rem;
    display: block;
    padding: .5rem;
    animation: enter-box-chat .5s;
    max-width: 90%;
}
